a{

  text-decoration: none;
}
h1{
  font-size:300%;
  text-align:center;
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
}
body{
  margin:0;
}
ol{
  border-right:1px solid black;
  margin:0;
  padding:30px;
  width:100px;
}
#grid ol{
  padding-left:none;
}
#grid{
  display:grid;
  grid-template-columns:150px 1fr;
}
.본문{
  padding-left:80px;
}
@media(max-width:800px){
    #grid{
      display:block;
  }
  ol{
    border-right:none;
}
h1{
    border-bottom:none;
}

}
